.copy-right {
  border-top: 1px solid #ddd;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
    font-weight: 500;
    color: #0056a6;
    letter-spacing: 0.5px;
  }
}
